<!DOCTYPE html>
<html>
	<head>
		<title>IT jobs including java and c# jobs | career search at careerjinn.com</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="IT jobs, IT job search, it career search, java jobs, c# jobs" />
        <meta name="description" content="A great place to find IT jobs, java jobs and c# jobs with our IT job search and it career search tools" />
        <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
	</head>
	<body id="home">
    <div class="banner spacing"></div>
    <div class="banner content">
        <form>
            <input type="hidden" name="Page" value="SaveSearch" />
            <label for="keywords">What?</label>
            <input id="keywords" class="text" type="text" name="q" title="Job Title / Skills / Company Name" />
            <label for="location">Where?</label>
            <input id="location" class="text" type="text" name="l" title="City / Country / Postcode" />
            <input class="submit button brown round large" type="submit" name="submit" value="Find Jobs" />
        </form>
    </div>
    <div id="searcbes">
        <hr />
        <div>Finding a career in IT is a complex business.  It is our aim at Career Jinn to guide you through finding your next technology job, helping you discover the skills you need for employment and helping you answer your job related questions.</div>
        <div class="saved_searches">
            <hr />
            <h2>Saved Searches</h2>
            <% if ( savedSearches == '' ) { %> You have no saved searches <% } else { %>
            <ul>
                $savedSearches
            </ul>
            <% } %>
        </div>
        <div class="popular_searches">
            <hr />
            <h2>Popular IT Job Skills</h2>
            <ul>
                <li><a href="?Page=Search&amp;q=Developer">Developer Jobs</a></li>
                <li><a href="?Page=Search&amp;q=Java+Developer">Java Developer Jobs</a></li>
                <li><a href="?Page=Search&amp;q=SQL+Server">SQL Server Jobs</a></li>
                <li><a href="?Page=Search&amp;q=C%23">C# Jobs</a></li>
                <li><a href="?Page=Search&amp;q=PHP+Developer">PHP Developer Jobs</a></li>
            </ul>
        </div>
        <div class="popular_searches">
            <hr />
            <h2>Popular Job Locations</h2>
            <ul>
                <li><a href="?Page=Search&amp;l=South+East">IT Jobs in the South East</a></li>
                <li><a href="?Page=Search&amp;l=London">IT Jobs in London</a></li>
                <li><a href="?Page=Search&amp;l=City+of+London">IT Jobs in the City of London</a></li>
                <li><a href="?Page=Search&amp;l=South+West">IT Jobs in the South West</a></li>
                <li><a href="?Page=Search&amp;l=Manchester">IT Jobs in Manchester</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div id="copyright">$Copyright</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40927470-1', 'careerjinn.com');
        ga('send', 'pageview');

    </script>
	</body>
</html>