<!DOCTYPE html>
<html>
<head>
    <title>$PageTitle | career search at careerjinn.com</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="$PageKeywords" />
    <meta name="description" content="$PageDescription" />
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
</head>
<body id="search_results">
    <div class="banner spacing"></div>
    <div class="banner content">
        <form>
            <input type="hidden" name="Page" value="Search" />
            <div class="field_box">
                <label for="keywords">What?</label><input id="keywords" class="text" type="text" name="q" title="Job Title / Skills / Company Name" value="$keywords" />
            </div>
            <div class="field_box">
                <label for="location">Where?</label><input id="location" class="text" type="text" name="l" title="City / Country / Postcode" value="$location" />
            </div>
            <div class="field_box">
                <input class="submit button brown round large" type="submit" name="submit" value="Find Jobs"/>
                <a class="submit button red round large" href="?Page=SaveSearch&amp;$saveSearchUrl">Save Search</a>
            </div>
            <% if (related.size() != 0) { %>
            <div class="relatedskills clear">
                <ul>
                    <li><span>Related Skills:</span></li>
                    <%
                    related.each {
                    skill->
                    %>
                    <li><a href="?Page=Search&amp;q=<%= skill.key %>&amp;l=$location"><%= skill.value %></a></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </form>
    </div>
<div id="container">
    <div id="left_hand_nav">
        <b>$keywords</b> $joiner <b>$location</b>
        <div class="skill_tree">
            <% if (related.size() != 0) { %>
                <a href="?Page=SkillTree&amp;$saveSearchUrl">View Skills Tree</a>
            <% } %>
        </div>
        <div class="saved_searches">
            <hr />
            <h2>Saved Searches</h2>
            <ul>
                $savedSearches
            </ul>
        </div>
    </div>
    <div id="main_results"><% if (results.size() != 0) { %><div id="count">Jobs $pageNumber to $pageSize of $pageCount</div><% } %>
        <div id="results">
            <% if (results.size() == 0) { %>
            <div class="no_results">
                <h2>No Jobs Found
                </h2>
                Sorry we could find no results for <b>$keywords</b> $joiner <b>$location</b>, please try to broaden your search by changing your keywords or location.
            </div>
            <%
            }
            results.each {
                result->
            %>
            <div class="row">
                <h2 class="jobtitle">
                    <a rel="nofollow" href="<%= result.value.link %>" onClick="trackOutboundLink(this, 'Outbound Links', '<%= result.value.link %>' ); return true;" target="_blank"><%= result.value.name %></a>
                </h2>
                <div class="details"><span class="company"><%= result.value.vendor %></span> | <span class="location"><%= result.value.location %></span></div>
                <div class="summary">
                    <%= result.value.content %>
                </div>
                <span class="date"><%= result.value.added %> by <%= result.value.vendor %></span> | <span class="apply"><a rel="nofollow" href="<%= result.value.link %>" onClick="trackOutboundLink(this, 'Outbound Links', '<%= result.value.link %>' ); return true;" target="_blank">Apply</a></span>
            </div>
            <%
            }
            %>
        </div>
    </div>
    <div id="right_hand_nav"><script type="text/javascript"><!--
google_ad_client = "ca-pub-4332872921144368";
/* CareerJinn SkyScraper */
google_ad_slot = "1169369318";
google_ad_width = 160;
google_ad_height = 600;
//-->
    </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script></div>
</div>
<div id="copyright">$Copyright</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/main.js"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40927470-1', 'careerjinn.com');
        ga('send', 'pageview');


                function trackOutboundLink(link, category, action) {

                    try {
                        _gaq.push(['_trackEvent', category , action]);
                    } catch(err){}

                    setTimeout(function() {
                        return true;
                    }, 100);
                }
    </script>
</body>
</html>